@import "../light/variables.css";

:root {
    /* Neutrals */
    --neutral-10: #F2F4F8; /* cool-10 */
    --neutral-20: #DDE1E6; /* cool-20 */
    --neutral-30: #C1C7CD; /* cool-30 */
    --neutral-40: #A2A9B0; /* cool-40 */
    --neutral-50: #878D96; /* cool-50 */
    --neutral-60: #697077; /* cool-60 */
    --neutral-70: #4D5358; /* cool-70 */
    --neutral-80: #343A3F; /* cool-80 */
    --neutral-90: #21272A; /* cool-90 */
    --neutral-100: #121619; /* cool-100 */
}
