.ia_splitContainerComponent--split__handle {
    border: 1px var(--neutral-50) solid;
    background-color: var(--neutral-10);
}

.ia_splitContainerComponent--split__handle__designer {
    border: 1px var(--neutral-50) solid;
    background-color: var(--neutral-10);
}

.ia_splitContainerComponent--split__handle__draggable:active {
    background-color: var(--callToAction--activeAlt);
}

.split-handle-invis:hover {
    background-color: var(--callToAction--hover);
}

.split-handle-invis:active {
    background-color: var(--callToAction--activeAltInvis);
}

.ia_splitContainerComponent--split__handle .ia_splitContainerComponent--handle__icon {
    fill: var(--neutral-70);
}

.ia_splitContainerComponent--split__handle:hover .ia_splitContainerComponent--handle__icon {
    fill: var(--callToAction--hover);
}
