.ia_equipmentScheduleComponent__gridSpace__gridCell--hover {
    background: var(--neutral-80);
}

.ia_equipmentScheduleComponent__resizeContainer {
    border: 2px solid var(--white);
}

.ia_equipmentScheduleComponent__overlappingEvent__dropdown {
    color: var(--black);
    background: var(--neutral-100);
}

.ia_equipmentScheduleComponent__overlappingEvent__dropdown__icon {
    fill: var(--black);
}
