.ia_tableComponent__body__row--hovered {
    color: var(--neutral-90);
    /* callToAction, with .5 opacity */
    background-color: rgba(34, 154, 214, 0.10);
}

.ia_tableComponent__selection {
    /* callToAction, with .2 opacity */
    background-color: rgba(34, 154, 214, 0.25);
}
