@import "../dark/variables.css";

:root {
    /* Neutrals */
    --neutral-10: #171414; /* warm-100 */
    --neutral-20: #272525; /* warm-90 */
    --neutral-30: #3C3838; /* warm-80 */
    --neutral-40: #565151; /* warm-70 */
    --neutral-50: #736F6F; /* warm-60 */
    --neutral-60: #8F8B8B; /* warm-50 */
    --neutral-70: #ADA8A8; /* warm-40 */
    --neutral-80: #CAC5C4; /* warm-30 */
    --neutral-90: #E5E0DF; /* warm-20 */
    --neutral-100: #F7F3F2; /* warm-10 */
}
